body {
    background-color: hsl(204, 70%, 80%);
    color: #F96F2F;
    font-family: 'Roboto', sans-serif;
}

p {
    line-height: 1.5em;
}

.center {
    text-align: center;
}

.button {
    color: #003366;
    background-color: rgb(96, 178, 184);
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    border-radius: 15%
}