{% extends 'base.html' %}

{% block body %}

<h2>Search for your perfect mountain adventure</h2>
<form action="{{ url_for('do_search') }}" method="POST"> <!-- Add the backend link here -->
    <p>
        Where: <input type="text" name="searchquery"><br>
        From: <input type="date" name="datefrom"><br>
        To: <input type="date" name="dateto"><br>
        Difficulty:<br>
            <input type="checkbox" name="difficulty" value="easy">Easy<br>
            <input type="checkbox" name="difficulty" value="moderate">Moderate<br>
            <input type="checkbox" name="difficulty" value="hard">Hard<br>
    </p>

    <p>
        <input type="submit" value="Search">
    </p>
</form>

{% endblock %}