{% extends 'base.html' %}

{% block body %}
</header>
    <section class="d-flex align-items-center dark-overlay bg-cover" style="background-image: url(../static/img/photo/nepal-single-trekker.jpg);">
      <div class="container py-6 py-lg-7 text-white overlay-content text-center"> 
        <div class="row">
          <div class="col-xl-10 mx-auto">
            <h1 class="display-3 font-weight-bold text-shadow">Mountaineru</h1>
            <p class="text-lg text-shadow">Discover Himalayan adventures. Direct to local.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Our picks section-->
    <section class="py-6">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-8">
            <p class="subtitle text-primary">Most popular treks</p>
            <h2>What's trending</h2>
          </div>
          <div class="col-md-4 d-md-flex align-items-center justify-content-end">
            <a class="text-muted text-sm" href="{{ url_for('static', filename='category.html') }}">
               See all treks<i class="fas fa-angle-double-right ml-2"></i></a>
          </div>
        </div>
        <div class="row">
          <div class="d-flex align-items-lg-stretch mb-4 col-lg-8">
            <div class="card shadow-lg border-0 w-100 border-0 hover-animate" style="background: center center url(../static/img/photo/khumbu-1.jpg) no-repeat; background-size: cover;">
                <a class="tile-link" href="/everest-base-camp"></a>
              <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">
                <h3 class="text-shadow text-uppercase text-center mb-0">Everest Base Camp</h3>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-lg-stretch mb-4 col-lg-4">
            <div class="card shadow-lg border-0 w-100 border-0 hover-animate" style="background: center center url(../static/img/photo/annapurna-1.jpg) no-repeat; background-size: cover;">
              <a class="tile-link" href="/annapurna-base-camp"></a>
              <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">
                <h3 class="text-shadow text-uppercase text-center mb-0">Annapurna Base Camp</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="d-flex align-items-lg-stretch mb-4 col-lg-4">
            <div class="card shadow-lg border-0 w-100 border-0 hover-animate" style="background: center center url(../static/img/photo/everest-gokyo-1.jpg) no-repeat; background-size: cover;">
              <a class="tile-link" href="/everest-three-pass-trek"> </a>
              <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">
                <h3 class="text-shadow text-uppercase text-center mb-0">Everest Three Passes Trek</h3>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-lg-stretch mb-4 col-lg-4">
            <div class="card shadow-lg border-0 w-100 border-0 hover-animate" style="background: center center url(../static/img/photo/poonhill-1.jpg) no-repeat; background-size: cover;">
              <a class="tile-link" href="/ghorepani-poon-hill-trek"> </a>
              <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">
                <h3 class="text-shadow text-uppercase text-center mb-0">Ghorepani Poon Hill Trek</h3>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-lg-stretch mb-4 col-lg-4">
            <div class="card shadow-lg border-0 w-100 border-0 hover-animate" style="background: center center url(../static/img/photo/gokyo-lake-1.jpg) no-repeat; background-size: cover;">
              <a class="tile-link" href="/gokyo-lake-trek"></a>
              <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">
                <h3 class="text-shadow text-uppercase text-center mb-0">Gokyo Lake Trek</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <div class="container">
      <div class="search-bar rounded p-3 p-lg-4 position-relative mt-n5 z-index-20">
        <form method="POST" action="#">
          {{ form.hidden_tag() }}
          <div class="row">
            <div class="col-lg-4 d-flex align-items-center form-group">
              <!--
              {{ form.adventure.label(class="form-control border-0 shadow-0") }}
              {{ form.adventure(class="form-control border-0 shadow-0") }}
              -->
              <input class="form-control border-0 shadow-0" type="search" name="adventure" placeholder="Search for your adventure">
            </div>
          
            <div class="col-md-6 col-lg-3 d-flex align-items-center form-group">
              <div class="input-label-absolute input-label-absolute-right w-100">
                <label class="label-absolute" for="location"><i class="fa fa-crosshairs"></i>
                  <div class="sr-only">City</div>
                </label>
                <input class="form-control border-0 shadow-0" type="text" name="location" placeholder="Location" id="location">
              </div>
            </div>
        
            <div class="col-md-6 col-lg-3 d-flex align-items-center form-group no-divider">
              <!--
              {{ form.difficulty.label(class="btn-form-control select-picker") }}
              {{ form.difficulty() }}
              -->
              
              <select class="selectpicker" name="difficulty" title="Difficulty" data-style="btn-form-control">
                <option value="small">Easy</option>
                <option value="medium">Moderate</option>
                <option value="large">Strenuous</option>
              </select>
              
            </div>
            <div class="col-lg-2 form-group mb-0">
              <button class="btn btn-primary btn-block h-100" type="submit">Search </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    
    <!-- Divider Section-->
    <section class="py-6 py-lg-7 position-relative dark-overlay"><img class="bg-image" src="{{ url_for('static', filename='img/photo/everest_1.jpg') }}" alt="">
      <div class="container">
        <div class="overlay-content text-white py-lg-5 text-center">
          <p class="subtitle text-white letter-spacing-4 mb-4">Find the best spots</p>
          <h3 class="display-3 font-weight-bold text-serif text-shadow mb-5">Travel & Explore</h3>
          <p class="lead text-shadow mb-5">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections</p>
          <a class="btn btn-primary" href="#">Get started</a>
        </div>
      </div>
    </section>
    

    {% endblock %}
    <!-- JavaScript files-->
    <script>
      // ------------------------------------------------------- //
      //   Inject SVG Sprite - 
      //   see more here 
      //   https://css-tricks.com/ajaxing-svg-sprite/
      // ------------------------------------------------------ //
      function injectSvgSprite(path) {
      
          var ajax = new XMLHttpRequest();
          ajax.open("GET", path, true);
          ajax.send();
          ajax.onload = function(e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
          }
      }    
      // to avoid CORS issues when viewing using file:// protocol, using the demo URL for the SVG sprite
      // use your own URL in production, please :)
      // https://demo.bootstrapious.com/directory/1-0/icons/orion-svg-sprite.svg
      //- injectSvgSprite('${path}icons/orion-svg-sprite.svg'); 
      injectSvgSprite('https://demo.bootstrapious.com/directory/1-4/icons/orion-svg-sprite.svg'); 
      
    </script>
    <!-- jQuery-->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <!-- Bootstrap JS bundle - Bootstrap + PopperJS-->
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- Magnific Popup - Lightbox for the gallery-->
    <script src="{{ url_for('static', filename='vendor/magnific-popup/jquery.magnific-popup.min.js') }}"></script>
    <!-- Smooth scroll-->
    <script src="{{ url_for('static', filename='vendor/smooth-scroll/smooth-scroll.polyfills.min.js') }}"></script>
    <!-- Bootstrap Select-->
    <script src="{{ url_for('static', filename='vendor/bootstrap-select/js/bootstrap-select.min.js') }}"></script>
    <!-- Object Fit Images - Fallback for browsers that don't support object-fit-->
    <script src="{{ url_for('static', filename='vendor/object-fit-images/ofi.min.js') }}"></script>
    <!-- Swiper Carousel                       -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
    <script>var basePath = ''</script>
    <!-- Main Theme JS file    -->
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
  </body>
</html>